#img{
    width: 160px;
    height:68px;
    margin-left:3%;
    margin-top:15px;
    float:left;
}
#nav{
    width:100%;
    height: 100px;
    position:relative;
}
#remand{
    width: 75%;
    height: 30px;
    background:#fef2f2;
    float:left;
    left:5%;
    margin-top:25px;
    border:1px solid #ffb4a8;
}
*{
    margin:0;
    padding:0;
}
#remand p{
    font-size:14px;
    line-height:30px;
    text-align:center;
}
#suggest h6{
    height:30px;
    text-align:center;
    float:right;
}
#suggest h6:hover{
    color:red;
}
#suggest img{
    width: 16px;
    height: 16px;
    float:left;
}
#suggest{
    width: 130px;
    height: 30px;
    margin-top:80px;
   right:5%;
    position:absolute;
}
