*{
    margin:0;
    padding:0;
}
#background{
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background:url(img/bg.jpg);
    overflow:scroll;
}
#right{
    height: 700px;
    background: #000;
}
#first,#second,#third,#fourth,#sixth,#fifth{
    position:absolute;
    background: white;
    top:0;
    left:0;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    background: green;
}
body{
    width: 100%;
    height: 100%;
    cursor:url(img/icon.png),default;
    font-size:10px;
    perspective:1000px;
}
@media(max-width:962px) and (min-width:768px){
    #first h4,#second h4,#third h4,#fourth h4{
       font-size:14px;
    }
}
@media(max-width:792px){
   body{
       font-size:12px;
   }
}
.wrap{
    width: 400px;
    position:relative;
    height: 400px;
    margin-top:10%;
    perspective-origin:50% 30%;
    animation:xuanzhuan 40s linear infinite;
    transform-style:preserve-3d;
}
#first{
    -webkit-transform:translateZ(17rem);
    -moz-transform:translateZ(17rem);
    -ms-transform:translateZ(17rem);
    -o-transform:translateZ(17rem);
    transform:translateZ(17rem);
}
#second{
    -webkit-transform:rotateY(180deg) translateZ(17rem);
    -moz-transform:rotateY(180deg) translateZ(17rem);
    -o-transform:rotateY(180deg) translateZ(17rem);
    -ms-transform:rotateY(180deg) translateZ(17rem);
    transform:rotateY(180deg) translateZ(17rem);

}
#third{
    -webkit-transform:rotateY(90deg) translateZ(17rem);
    -moz-transform:rotateY(90deg) translateZ(17rem);
    -ms-transform:rotateY(90deg) translateZ(17rem);
    -o-transform:rotateY(90deg) translateZ(17rem);
    transform:rotateY(90deg) translateZ(17rem);

}
#fourth{
    -webkit-transform:rotateY(-90deg) translateZ(17rem);
    -moz-transform:rotateY(-90deg) translateZ(17rem);
    -ms-transform:rotateY(-90deg) translateZ(17rem);
    -o-transform:rotateY(-90deg) translateZ(17rem);
    transform:rotateY(-90deg) translateZ(17rem);

}
#fifth{
    transform:rotateX(90deg) translateZ(17rem);
    -webkit-transform:rotateY(90deg) translateZ(17rem);
    -moz-transform:rotateY(90deg) translateZ(17rem);
    -ms-transform:rotateY(90deg) translateZ(17rem);
    -o-transform:rotateY(90deg) translateZ(17rem);
}
#sixth{
    transform:rotateX(-90deg) translateZ(17rem);
    -webkit-transform:rotateX(-90deg) translateZ(17rem);
    -moz-transform:rotateX(-90deg) translateZ(17rem);
    -ms-transform:rotateX(-90deg) translateZ(17rem);
    -o-transform:rotateX(-90deg) translateZ(17rem);
}
@keyframes xuanzhuan{
    from{

    }to{
     transform:rotateY(360deg);
     -webkit-transform:rotateY(360deg);
     -moz-transform:rotateY(360deg);
     -o-transform:rotateY(360deg);
     -ms-transform:rotateY(360deg);
     }
}
 