*{
    margin:0;
    padding:0;
}
#header{
    width:100%;
    height:160px;
    background:url(img/banner.gif);
    position:relative;
    overflow:hidden;
}
#header p{
    font-size:13px;
    margin-top:35px;
    margin-left:50px;
}
#header .top{
    color:black;
}
#header .buttom{
    color:#808080;
}
#header img{
    position:absolute;
    right:2px;
    top:10px;
}
#content{
    width: 100%;
    height: 1000px;
    background: url(img/bg.gif) top left repeat-x #e9f1f8;
}
#left{
    width:222px;
    height:500px;
    border:1px dashed black;
    margin-left:10px;
}
#left .org,#left .post{
    width:100%;
    height:100px;
    margin-top:20px;
    position:relative;
}
#left .org img,#left .post img{
    margin-left:5px;
}
#left .org h4,#left .post h4{
    position:absolute;
    top:0;
    left:39px;
    color:#676767;
}
#left .org h5,#left .post h5{
    color:#808080;
    margin-left:10px;
    margin-top:5px;
}
