#BigPicture img{
    width: 500px;
    height: 500px;
}
body{
    position:relative;
}
#BigPicture{
    width: 500px;
    height: 500px;
    margin:0 auto;
    border:5px solid grey;
}
*{
    margin:0;
    padding:0;
}
#SmallPicture img{
    width: 111px;
    height: 100px;
    margin-right:10px;
}
#SmallPicture{
    width: 900px;
    height:100px;
    position:absolute;
    left:10px;
    top:515px;
    padding:1px;
}
#SmallPicture .selected{
    border:1px solid black;
}
#wapper{
    width: 500px;
    height: 620px;
    position:relative;
    overflow:hidden;
    float:left;
}
#btn div{
    width: 20px;
    height: 20px;
    background:black;
    color:white;
    border:1px solid white;
    text-align:center;
    line-height:20px;
    position:absolute;
    cursor:pointer;
}
#btn #left{
    top:240px;
    left:10px;
}
#btn #right{
    top:240px;
   right:10px;
}
#expand{
    width: 300px;
    height: 300px;
    border:1px solid black;
    float:left;
    overflow:hidden;
    position:relative;
    display:none;
}
#expand img{
    width: 400px;
    height: 400px;
    position:absolute;
    top:0;
    left:0;
}
#drag{
    width: 200px;
    height: 200px;
    background:grey;
    position:absolute;
    opacity:0.5;
    filter: alpha( opacity=50);
    display:none;
}
#mask{
    width: 100%;
    height: 100%;
    background: #ff0000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}